@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<FlightService.Web.Models.BookingPassengerViewModel>


@{
    ViewData["Title"] = "CheckPassengers";
}

<div class="text-center">
    <h2>View All Passengers</h2>
    <a class="navbar-brand" asp-area="" asp-controller="Passengers" asp-action="Create">Add Passenger</a>

    <table class="table">
        <thead>
            <tr>
                <td>@Html.DisplayNameFor(model => model.bookingNumber)</td>

                <td>@Html.DisplayNameFor(model => model.firstname)</td>
                <td>@Html.DisplayNameFor(model => model.lastname)</td>
                <td>@Html.DisplayNameFor(model => model.job)</td>
                <td>@Html.DisplayNameFor(model => model.email)</td>
                <td>@Html.DisplayNameFor(model => model.age)</td>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var passenger in Model)
            {
            <tr>
                <td>@Html.DisplayFor(modelitem => passenger.bookingNumber)</td>

                <td>@Html.DisplayFor(modelitem => passenger.firstname)</td>
                <td>@Html.DisplayFor(modelitem => passenger.lastname)</td>
                <td>@Html.DisplayFor(modelitem => passenger.job)</td>
                <td>@Html.DisplayFor(modelitem => passenger.email)</td>
                <td>@Html.DisplayFor(modelitem => passenger.age)</td>


            </tr>
            }
        </tbody>
    </table>
</div>